* {
    margin: 0;
    padding: 0;
}

/* up to 359px */
p {
    line-height: 100vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: arial;
    padding: 0 5%;
}

/* from 360px */
@media (min-width: 360px) {
    p {
        font-size: 24px;
        color: red;
    }
}

/* from 400px */
@media (min-width: 400px) {
    p {
        font-size: 26px;
        color: blue;
    }
}

@media (min-width: 600px) {
    p {
        font-size: 30px;
        color: green;
    }
}

@media (orientation: portrait) {
    body {
        background-color: aqua;
    }
}

@media (orientation: landscape) {
    body {
        background-color: darkcyan;
    }
}