* {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

nav {
    background-color: #333;
    padding: 20px 0;
    font-size: 0;
}

nav a {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    padding: 20px;
    color: white;
    font-size: 24px;
    font-family: arial;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

a.btn1 {
    background-color: darkcyan;
}

a.btn2 {
    background-color: orange;
}

a.btn3 {
    background-color: darkviolet;
}

a.btn4 {
    background-color: red;
}

nav a:hover {
    background-color: black;
}

header {
    background-color: #777;
    min-height: 300px;
}

main {
    background-color: #e7cc83;
    min-height: 50vh;
}

footer {
    background-color: black;
    min-height: 100px;
}